body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    font-size: 14px;
}

.bg {
    position: relative;
    background-image: url("../images/bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-weight: 300;
}

.img-box {
    width: 270px;
    height: 150px;
    display: block;
    margin: auto;
    overflow: hidden;
}

.img-responsive {
    object-fit: cover;
    width: 300px;
    margin: -65px 0 0 -25px;
}

.img-responsive-dashboard {
    object-fit: cover;
    width: 150px;
    margin: 15px 0;
}

.login-box {
    border-radius: 10%;
    width: 350px;
    background: rgba(255, 255, 255, 0.602);
    padding: 30px 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.error-box {
    border-radius: 10%;
    width: 350px;
    background: rgba(255, 255, 255, 0.602);
    padding: 1px 50px 30px;
    margin: 0 auto;
    position: relative;
    top: 30%;
    /* left: 50%; */
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.error-box h1 {
    font-size: 84px;
    font-weight: bolder;
    color: #9c1010;
    text-shadow: 3px 1px 3px #380101;
}

label {
    font-size: 11pt;
}

.text-error {
    font-size: 12px;
    color: #9c1010;
}

.text-center {
    text-align: center;
}

.login-box > form > .form-group {
    margin-bottom: 20px;
}

.login-box > form > .form-group > .form-control {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    font-size: 11pt;
    border: none;
    border-radius: 3px;
}

.btn-p {
    font-size: 14pt;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 13px 20px;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-primary {
    background-color: #9c1010;
    color: rgb(230, 230, 230);
}

.btn-primary:hover {
    background-color: #790505;
    color: rgb(255, 255, 255);
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #9c1010;
  border-color: #c81111;
  box-shadow: 0 0 0 0.2rem rgba(225, 82, 82, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #790505;
  border-color: #c81111;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #9c1010;
  border-color: #da1111;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 67, 67, 0.479);
}

.logo {
    width: 200px;
    position: absolute;
    top: 12%;
    left: 85%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

/** Chat Box **/
/* Button used to open the chat form - fixed at the bottom of the page */
.open-chat {
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 55px;
    height: 55px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-chat-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.form-chat-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-chat-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.form-chat-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-chat-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-chat-container .btn:hover, .open-button:hover {
    opacity: 1;
}
